/*.titleCurso{
    padding-left: 70px;
    padding-bottom: 25px;
    padding-top: 25px;
    margin: 0 auto;
    background-color: white;
    color: black;
}
.btn-compra{
  background-color: #2d2c32;
  border-color: #0f6f6e;
  color: #0f6f6e;
}

.btn-compra:hover{
  background-color: #114847;
}
*/